body{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.slide1{
    z-index: -1;
    background-image: url('./imagens/0001.jpg');
    background-size: 100% 100%;
    width: 1000px;
    height: 760px;
    /*opacity: 0.5;*/
}

.slide1 .slide1_foto1{
    width: 397px;
    height: 598px;

}

.slide1 .slide1_foto2{
    float: right;
    margin-top: 384px;

}

.slide1 .slide1_foto2_sombra{
    position: absolute;
    float: right;
    width: 500px;
    height: 600px;
    background-color: orange;
    opacity: 0.3;

}

.slide1 .slide1_logo{
    position: absolute;
    float: left;
    margin-top: 66px;
    margin-left: 87px;
}


.slide2{
    z-index: -1;
    background-image: url('./imagens/0002.jpg');
    background-size: 100% 100%;
    width: 1000px;
    height: 760px;
}


.slide3{
    z-index: -1;
    background-image: url('./imagens/0003.jpg');
    background-size: 100% 100%;
    width: 1000px;
    height: 760px;
}

.slide3 .slide3_foto1{

}

.slide4{
    z-index: -1;
    background-image: url('./imagens/0004.jpg');
    background-size: 100% 100%;
    width: 1000px;
    height: 760px;
}

.slide4 .slide4_foto1{

}

.slide5{
    z-index: -1;
    background-image: url('./imagens/0005.jpg');
    background-size: 100% 100%;
    width: 1000px;
    height: 760px;
}

.button{
  background-color: black;
  width: 50px;
  height: 23px;
  color: white;
  font-family: sans-serif;
  border-radius: 5px;
  border: 5px;
}

.form{
  font-family: sans-serif;
  border: 10px;
  margin-left: 800px;
  padding-top: 600px;
}
